@keyframes heart
{
    50%
    {
        transform: translate(-50%,-100%) scale(3,3);
    }

    100%
    {
        transform: translate(-50%,-50%) scale(1,1);
    }
}

.heart
{
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    animation-name: heart;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.heart div
{
    background: red;
    width: 71px;
    height: 126px;
    top: 40%;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.left
{
    left: 45px;
    transform: rotate(330deg);
}

.right
{
    right: 45px;
    transform: rotate(30deg);
}

.img
{
    width: auto;
    height: auto;
    display: inline-block;
}

#imgleft
{
    background-image: url("https://scontent.fhan2-5.fna.fbcdn.net/v/t1.15752-9/343553138_556338653296861_2305428137211226949_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=7aLPqXDedKoAX9SpV-n&_nc_ht=scontent.fhan2-5.fna&oh=03_AdR39B-qCP-h-Xj7Mln4tupJXZaUGV8y-KGMOdWb45-KTQ&oe=644EF593");
    width: 600px;
    height: 600px;
    background-size: auto 120%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#imgright
{
    background-image: url("nu.jpg");
    width: 600px;
    height: 600px;
    margin-left: 250px;
    background-size: auto 120%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.music
{
    margin-top: 10px;
}
